{% extends 'base.html' %}
{% load static %}
{% block content %}


<table class="table table-borderless">
    
    <tbody>

        <tr class="table-active">
          <tr>
            <th scope="row">3</th>
            <td colspan="2" class="table-active">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        <tr>
        <th scope="row">3</th>
        <td colspan="2" class="table-active">Larry the Bird</td>
        <td>@twitter</td>
        </tr>
        <tr>
        <th scope="row">3</th>
        <td colspan="2" class="table-active">Sidd the Bird</td>
        <td>@fb</td>
        </tr> 
    
    </tbody>
</table>



{%endblock%}